<% COLOR = "hsla(#{rand(255)}, 50%, 45%, 0.2)" %>

<html>
  <head>
    <title>Matrix Scanner</title>
    <style type="text/css">
      body {
        font-family: "Lucida Console", Monaco, monospace;
        background-color: <%= COLOR %>;
        margin: 25 auto;
        width: 420px;
      }

      .box {
        padding: 10px;
      }

      .panel {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 4px;
        background-color: <%= COLOR %>;
      }

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: 700;
      }

      h1 {
        color: <%= COLOR %>;
        text-align: center;
      }

      .results-table td {
        border-bottom: 1px solid <%= COLOR %>;
      }

      table {
        width: 100%;
      }

      .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      input {
        background-color: <%= COLOR %>;
        font-size: 18px;
        border: none;
        width: 100%;
        color: #000;
        padding: 6px;
      }

      .button {
        background-color: Transparent;
        border-radius: 4px;
        border: 2px solid <%= COLOR %>;
      }

      .button:hover {
        background-color: <%= COLOR %>;
      }

      .cell-bad {
        background-color: hsla(0, 100%, 50%, 0.5);
      }

      .cell-good {
        background-color: hsla(0, 0%, 80%, 0.5);
      }

      .missing-wells {
        font-size: 8px;
      }

      .missing-wells td {
        height: 24px;
        width: 12px;
        text-align: center;
        vertical-align: middle;
        border-radius: 2px;
      }

    </style>
  </head>
  <body>

  <h1>Plate Scanner</h1>

  <form action="/" method="POST" enctype="multipart/form-data" class="form">
    <div class="panel">
      <div class="box">
        <label>Instructions</label>
        <small>
          <ol>
            <li>Scan 96-well plate:</li>
            <ul>
              <li>600-DPI</li>
              <li>Export as JPEG</li>
            </ul>
            <li>Upload scanned image</li>
            <li>Press submit</li>
            <li>Copy barcodes</li>
            <li>Try increasing the sensitivity to <code>500</code> if some barcodes are missing</li>
          </ol>
        </small>
      </div>
    </div>

    <div class="panel">
      <div class="box">
        <label>Scan</label>
        <input type="file" name="image">
      </div>
      <div class="box">
        <label>Sensitivity (<span id="textInput">50</span> ms)</label>
        <input name="timeout" min="10" max="1000" step="10" value="50" onchange="updateTextInput(this.value);">
      </div>
      <div class="box">
        <input type="submit" class="button">
      </div>
    </div>
  </form>

  <script type="text/javascript">
    function updateTextInput(val) {
      document.getElementById('textInput').innerHTML = val; 
    }
  </script>

  <% unless @codes.nil? %>

    <div class="panel">
      <div class="box">
        <label>Scan Overview</label>
      </div>
      <div class="box">
        <table class="missing-wells">
          <% @codes.each_slice(12) do |row| %>
            <tr>
              <% row.each do |cell, value| %>
                <td class="<%= value.nil? ? 'cell-bad' : 'cell-good'%>">
                  <%= cell %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>


    <div class="panel">
      <div class="box">
        <label>Results</label>
      </div>
      <div class="box">
        <%= @codes.values.count(nil) %> missing.
      </div>
      <div class="box">
        <table class="results-table">
          <tbody>
            <% @codes.each do |cell, value| %>
              <tr>
                <td class="unselectable"><%= cell || '??' %></td>
                <td><%= value || '&nbsp;' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

</body>
